
Lectura de la Información:

- Leer los archivos CSV (ventas.csv, productos.csv, clientes.csv).
- Explorar los conjuntos de datos para comprender su estructura, columnas, tipos de datos, etc.

Transformación de Datos:

- Limpiar los datos: manejar valores nulos, eliminar duplicados si los hay, corregir errores tipográficos, etc.
- Realizar la integración de datos: unir los conjuntos de datos apropiados para obtener una tabla única que contenga información de ventas junto con detalles de productos y clientes.
- Aplicar transformaciones relevantes según sea necesario: por ejemplo, convertir tipos de datos, renombrar columnas, crear nuevas características derivadas, etc.

In [3]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [4]:
df_clientes = pd.read_csv("files/clientes.csv", index_col=0)
df_clientes.tail()

,first_name,last_name,email,gender,City,Country,Address
id,,,,,,,
996,Ray,Tarpey,rtarpeyrn@bravesites.com,Female,Zamora,Spain,36384 Sommers Terrace
997,Flem,Roderham,froderhamro@dropbox.com,Male,Pontevedra,Spain,93177 Eastwood Parkway
998,Winifield,Blakes,wblakesrp@jiathis.com,Male,Vigo,Spain,03044 Grayhawk Road
999,Lanita,Espinosa,lespinosarq@discuz.net,Female,Dos Hermanas,Spain,2 Schmedeman Drive
1000,Grissel,Siberry,gsiberryrr@wikispaces.com,Female,Leon,Spain,42274 Waywood Terrace

In [5]:
df_productos = pd.read_csv("files/productos.csv", index_col=0)
df_productos.head()

,Nombre_Producto,Categoría,Precio,Origen,Descripción
ID,,,,,
A1,Pizza Margherita,Platos Preparados,8.99,Italia,Clásica pizza italiana con tomate mozzarella f...
B2,Risotto de Champiñones,Platos Preparados,6.75,Italia,Risotto cremoso con champiñones frescos una de...
C3,Tiramisú,Postres,5.49,Italia,Postre clásico italiano con capas de bizcocho ...
D4,Panettone,Repostería,10.99,Italia,Pan dulce navideño italiano con frutas confita...
E5,Orecchiette,Productos Secos,4.29,Italia,Pequeñas pastas con forma de orecchiette ideal...

In [6]:
'''with open("files/productos.csv") as f:'''
    for i, line in enumerate(f):
        if i == 8:  # Recuerda que en Python la línea 9 es el índice 8
            print(f"Línea 9: {line}")
        else: 
            print(f"Línea 8: {line}")

IndentationError: unexpected indent (4129648587.py, line 2)

In [7]:
df_ventas = pd.read_csv("files/ventas.csv", index_col=0)
df_ventas.head()

           ID_Producto Fecha_Venta  Cantidad  Total
ID_Cliente
723                 A1  2023-11-22         2  17.98
498                 C3  2023-11-21         1   5.49
121                 D4  2023-11-20         3  32.97
885                L12  2023-11-19         1   6.49
347                Q17  2023-11-18         2   7.98

- Op1. Ignorar filas problemáticas (no recomendado para producción):
df = pd.read_csv("tuarchivo.csv", error_bad_lines=False) - 

- Op2. Manejar comillas correctamente
Si hay campos de texto que contienen comas, asegúrate de que estén entre comillas. Puedes indicarle eso a Pandas:
df = pd.read_csv("tuarchivo.csv", quotechar='"') - 

- Op3. Para depurar desde Python
Puedes imprimir solo la línea 9 así:
with open("tuarchivo.csv") as f:
    for i, line in enumerate(f):
        if i == 8:  # Recuerda que en Python la línea 9 es el índice 8
            print(f"Línea 9: {line}")

In [20]:
df_ventas.duplicated().sum()

np.int64(0)

In [8]:
df_clientes.shape

(1000, 7)

In [9]:
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 1 to 1000
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_name  1000 non-null   object
 1   last_name   1000 non-null   object
 2   email       973 non-null    object
 3   gender      923 non-null    object
 4   City        876 non-null    object
 5   Country     846 non-null    object
 6   Address     959 non-null    object
dtypes: object(7)
memory usage: 62.5+ KB

In [10]:
df_clientes.duplicated().sum()

np.int64(0)

In [11]:
df_productos.shape

(33, 5)

In [12]:
df_productos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33 entries, A1 to GG33
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Nombre_Producto  33 non-null     object
 1   Categoría        33 non-null     object
 2   Precio           33 non-null     float64
 3   Origen           33 non-null     object
 4   Descripción      33 non-null     object
dtypes: float64(1), object(4)
memory usage: 1.5+ KB

In [21]:
df_productos.duplicated().sum()

np.int64(0)

In [13]:
df_ventas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 723 to 987
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID_Producto  100 non-null    object
 1   Fecha_Venta  100 non-null    object
 2   Cantidad     100 non-null    int64
 3   Total        100 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.9+ KB

In [22]:
df_ventas.duplicated().sum()

np.int64(0)

In [14]:
df_ventas.shape

(100, 4)

In [26]:
mergeado_inner = df_clientes.merge(df_ventas, left_on='id', right_on = 'ID_Cliente')
mergeado_inner.head()

,first_name,last_name,email,gender,City,Country,Address,ID_Producto,Fecha_Venta,Cantidad,Total
0,Jere,Bampkin,jbampkins@wunderground.com,Male,Jaen,Spain,4478 Mockingbird Avenue,Z26,2023-11-14,2,14.98
1,Wye,Sinncock,wsinncock3c@fc2.com,Male,Santander,NaN,4679 Fair Oaks Trail,D4,2023-11-20,3,32.97
2,Noreen,Mouncher,nmouncher3e@theguardian.com,Female,Zaragoza,NaN,3 Esker Circle,AF32,2023-11-08,2,9.78
3,Noreen,Mouncher,nmouncher3e@theguardian.com,Female,Zaragoza,NaN,3 Esker Circle,AU47,2023-10-24,1,5.25
4,Brigit,Witt,bwitt4p@va.gov,Female,Dos Hermanas,Spain,38 Ohio Point,U21,2023-11-15,1,5.75

In [27]:
mergeado_inner.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   first_name   100 non-null    object
 1   last_name    100 non-null    object
 2   email        100 non-null    object
 3   gender       83 non-null     object
 4   City         84 non-null     object
 5   Country      74 non-null     object
 6   Address      100 non-null    object
 7   ID_Producto  100 non-null    object
 8   Fecha_Venta  100 non-null    object
 9   Cantidad     100 non-null    int64
 10  Total        100 non-null    float64
dtypes: float64(1), int64(1), object(9)
memory usage: 8.7+ KB

In [ ]:
tabla_completa = mergeado_inner.merge( right=df_productos, how='left', left_on='ID_Producto', right_on='ID')
tabla_completa.sample(5)

,first_name,last_name,email,gender,City,Country,Address,ID_Producto,Fecha_Venta,Cantidad,Total,Nombre_Producto,Categoría,Precio,Origen,Descripción
46,Mano,Briat,mbriatf2@parallels.com,NaN,Sevilla,NaN,90 Bultman Street,CN108,2023-10-02,1,4.75,NaN,NaN,NaN,NaN,NaN
56,Teddy,Matovic,tmatovicgc@zimbio.com,Male,Malaga,Spain,86 Beilfuss Terrace,AS45,2023-10-26,1,4.75,NaN,NaN,NaN,NaN,NaN
70,Quinn,Brenton,qbrentonmj@blogtalkradio.com,Female,Gijon,Spain,5495 Lakeland Junction,Y25,2023-11-16,2,13.50,Cacciatore,Embutidos,6.75,Italia,Salchichas de cerdo condimentadas con hierbas ...
9,Anni,Handrock,ahandrock6h@vk.com,Female,Sevilla,Spain,10 Maple Road,BW91,2023-10-19,2,9.98,NaN,NaN,NaN,NaN,NaN
32,Tynan,Oty,toty8w@nymag.com,Male,Albacete,NaN,02 Reindahl Terrace,AH126,2023-09-14,1,4.75,NaN,NaN,NaN,NaN,NaN

In [32]:
tabla_completa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   first_name       100 non-null    object
 1   last_name        100 non-null    object
 2   email            100 non-null    object
 3   gender           83 non-null     object
 4   City             84 non-null     object
 5   Country          74 non-null     object
 6   Address          100 non-null    object
 7   ID_Producto      100 non-null    object
 8   Fecha_Venta      100 non-null    object
 9   Cantidad         100 non-null    int64
 10  Total            100 non-null    float64
 11  Nombre_Producto  10 non-null     object
 12  Categoría        10 non-null     object
 13  Precio           10 non-null     float64
 14  Origen           10 non-null     object
 15  Descripción      10 non-null     object
dtypes: float64(2), int64(1), object(13)
memory usage: 12.6+ KB

In [25]:
tabla_completa.duplicated().sum()

np.int64(0)

Intentamos modificar los id erróneos

In [41]:
ids = tabla_completa['ID_Producto'].unique()

In [40]:
df_productos.groupby('ID')['Nombre_Producto'].value_counts()

ID    Nombre_Producto
A1    Pizza Margherita                  1
AA27  Caponata di Melanzane             1
B2    Risotto de Champiñones            1
BB28  Cappelletti                       1
C3    Tiramisú                          1
CC29  Carbonara                         1
D4    Panettone                         1
DD30  Carciofi Ripieni                  1
E5    Orecchiette                       1
EE31  Casatiello                        1
F6    Polenta Tradicional               1
FF32  Cassata Siciliana                 1
G7    Mozzarella di Bufala              1
GG33  Ciceri e Tria                     1
H8    Pesto Genovese                    1
I9    Lasagna Bolognesa                 1
J10   Arroz Arborio                     1
K11   Café Espresso                     1
L12   Sardinas en Aceite de Oliva       1
M13   Pesto Rosso                       1
N14   Gnocchi de Patata                 1
O15   Ravioli de Ricotta y Espinacas    1
P16   Caponata                          1
Q17   Pasta de Trigo                    1
R18   Salsa de Tomate Casera            1
S19   Aceite de Oliva Virgen Extra      1
T20   Queso Parmesano                   1
U21   Salami Toscano                    1
V22   Prosciutto di Parma               1
W23   Gelato de Limón                   1
X24   Cannoli                           1
Y25   Cacciatore                        1
Z26   Calzone                           1
Name: count, dtype: int64

In [44]:
productos = {
    "A1": "Pizza Margherita",
    "AA27": "Caponata di Melanzane",
    "B2": "Risotto de Champiñones",
    "BB28": "Cappelletti",
    "C3": "Tiramisú",
    "CC29": "Carbonara",
    "D4": "Panettone",
    "DD30": "Carciofi Ripieni",
    "E5": "Orecchiette",
    "EE31": "Casatiello",
    "F6": "Polenta Tradicional",
    "FF32": "Cassata Siciliana",
    "G7": "Mozzarella di Bufala",
    "GG33": "Ciceri e Tria",
    "H8": "Pesto Genovese",
    "I9": "Lasagna Bolognesa",
    "J10": "Arroz Arborio",
    "K11": "Café Espresso",
    "L12": "Sardinas en Aceite de Oliva",
    "M13": "Pesto Rosso",
    "N14": "Gnocchi de Patata",
    "O15": "Ravioli de Ricotta y Espinacas",
    "P16": "Caponata",
    "Q17": "Pasta de Trigo",
    "R18": "Salsa de Tomate Casera",
    "S19": "Aceite de Oliva Virgen Extra",
    "T20": "Queso Parmesano",
    "U21": "Salami Toscano",
    "V22": "Prosciutto di Parma",
    "W23": "Gelato de Limón",
    "X24": "Cannoli",
    "Y25": "Cacciatore",
    "Z26": "Calzone"
}

In [45]:
nombres = [
    "Pizza Margherita",
    "Caponata di Melanzane",
    "Risotto de Champiñones",
    "Cappelletti",
    "Tiramisú",
    "Carbonara",
    "Panettone",
    "Carciofi Ripieni",
    "Orecchiette",
    "Casatiello",
    "Polenta Tradicional",
    "Cassata Siciliana",
    "Mozzarella di Bufala",
    "Ciceri e Tria",
    "Pesto Genovese",
    "Lasagna Bolognesa",
    "Arroz Arborio",
    "Café Espresso",
    "Sardinas en Aceite de Oliva",
    "Pesto Rosso",
    "Gnocchi de Patata",
    "Ravioli de Ricotta y Espinacas",
    "Caponata",
    "Pasta de Trigo",
    "Salsa de Tomate Casera",
    "Aceite de Oliva Virgen Extra",
    "Queso Parmesano",
    "Salami Toscano",
    "Prosciutto di Parma",
    "Gelato de Limón",
    "Cannoli",
    "Cacciatore",
    "Calzone"
]

In [49]:
ids

array(['Z26', 'D4', 'AF32', 'AU47', 'U21', 'AP42', 'BC71', 'BQ85', 'BS87',
       'BW91', 'BZ94', 'CB96', 'CE99', 'CG101', 'CJ104', 'CL106', 'CO109',
       'CQ111', 'CT114', 'CV116', 'CY119', 'AE123', 'AL130', 'AO133',
       'AR136', 'AU139', 'AM39', 'AR44', 'BG75', 'AW49', 'BJ78', 'BP84',
       'AH126', 'Q17', 'AJ36', 'AH34', 'BM81', 'AD122', 'AY51', 'C3',
       'AN40', 'BE73', 'BV90', 'BY93', 'CD98', 'CI103', 'CN108', 'CS113',
       'CX118', 'AG125', 'AK129', 'AN132', 'AQ135', 'AT138', 'AA27',
       'BO83', 'AS45', 'T20', 'AK37', 'AV48', 'BK79', 'AJ128', 'A1',
       'AQ43', 'BN82', 'BT88', 'AI35', 'AC121', 'AX50', 'BI77', 'Y25',
       'AG33', 'AT46', 'BD72', 'BL80', 'BU89', 'CA95', 'CF100', 'CK105',
       'CP110', 'CU115', 'CZ120', 'AI127', 'L12', 'AL38', 'BF74', 'AO41',
       'BH76', 'BR86', 'BX92', 'CC97', 'CH102', 'CM107', 'CR112', 'CW117',
       'AF124', 'AM131', 'AP134', 'AS137', 'AV140'], dtype=object)

In [46]:
# Invertir el diccionario para buscar ID por nombre
nombre_a_id = {v: k for k, v in productos.items()}

# Corregir los IDs usando los nombres
ids_corregidos = [nombre_a_id.get(nombre, None) for nombre in nombres]

print(ids_corregidos)

['A1', 'AA27', 'B2', 'BB28', 'C3', 'CC29', 'D4', 'DD30', 'E5', 'EE31', 'F6', 'FF32', 'G7', 'GG33', 'H8', 'I9', 'J10', 'K11', 'L12', 'M13', 'N14', 'O15', 'P16', 'Q17', 'R18', 'S19', 'T20', 'U21', 'V22', 'W23', 'X24', 'Y25', 'Z26']

Tenemos una lista con los id corregidos pero no los podemos meter en la tabla porque ya no siguen el orden de la tabla

In [52]:
df_ventas['ID_Producto'].unique()

array(['A1', 'C3', 'D4', 'L12', 'Q17', 'T20', 'Y25', 'U21', 'Z26', 'AA27',
       'AF32', 'AG33', 'AH34', 'AI35', 'AJ36', 'AK37', 'AL38', 'AM39',
       'AN40', 'AO41', 'AP42', 'AQ43', 'AR44', 'AS45', 'AT46', 'AU47',
       'AV48', 'AW49', 'AX50', 'AY51', 'BC71', 'BD72', 'BE73', 'BF74',
       'BG75', 'BH76', 'BI77', 'BJ78', 'BK79', 'BL80', 'BM81', 'BN82',
       'BO83', 'BP84', 'BQ85', 'BR86', 'BS87', 'BT88', 'BU89', 'BV90',
       'BW91', 'BX92', 'BY93', 'BZ94', 'CA95', 'CB96', 'CC97', 'CD98',
       'CE99', 'CF100', 'CG101', 'CH102', 'CI103', 'CJ104', 'CK105',
       'CL106', 'CM107', 'CN108', 'CO109', 'CP110', 'CQ111', 'CR112',
       'CS113', 'CT114', 'CU115', 'CV116', 'CW117', 'CX118', 'CY119',
       'CZ120', 'AC121', 'AD122', 'AE123', 'AF124', 'AG125', 'AH126',
       'AI127', 'AJ128', 'AK129', 'AL130', 'AM131', 'AN132', 'AO133',
       'AP134', 'AQ135', 'AR136', 'AS137', 'AT138', 'AU139', 'AV140'],
      dtype=object)

No podemos hacer limpieza porque no siue un orden. NO sabemos si hay productos descatalogados o se han equivocado en casi todas las ventas al escribir el producto de venta

Pensamos que es mejor hacer un inner:

In [53]:
tabla_completa2 = mergeado_inner.merge(df_productos, left_on='ID_Producto', right_on='ID')
tabla_completa2.sample(5)

,first_name,last_name,email,gender,City,Country,Address,ID_Producto,Fecha_Venta,Cantidad,Total,Nombre_Producto,Categoría,Precio,Origen,Descripción
1,Wye,Sinncock,wsinncock3c@fc2.com,Male,Santander,NaN,4679 Fair Oaks Trail,D4,2023-11-20,3,32.97,Panettone,Repostería,10.99,Italia,Pan dulce navideño italiano con frutas confita...
2,Brigit,Witt,bwitt4p@va.gov,Female,Dos Hermanas,Spain,38 Ohio Point,U21,2023-11-15,1,5.75,Salami Toscano,Embutidos,5.75,Italia,Salami de cerdo italiano curado con hierbas y ...
5,Chickie,Corkhill,ccorkhillfq@china.com.cn,Male,Valladolid,Spain,9 4th Street,AA27,2023-11-13,1,7.49,Caponata di Melanzane,Entrantes,4.89,Italia,Entrante italiano con berenjenas tomate apio a...
7,Sephira,Bleackley,sbleackleyk2@liveinternet.ru,NaN,Girona,NaN,4 Birchwood Road,A1,2023-11-22,2,17.98,Pizza Margherita,Platos Preparados,8.99,Italia,Clásica pizza italiana con tomate mozzarella f...
3,Egbert,Leborgne,eleborgne9m@reuters.com,Male,Sevilla,Spain,7 Quincy Way,Q17,2023-11-18,2,7.98,Pasta de Trigo,Productos Secos,3.99,Italia,Deliciosa pasta de trigo durum italiana ideal ...

In [54]:
tabla_completa2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   first_name       10 non-null     object
 1   last_name        10 non-null     object
 2   email            10 non-null     object
 3   gender           9 non-null      object
 4   City             10 non-null     object
 5   Country          8 non-null      object
 6   Address          10 non-null     object
 7   ID_Producto      10 non-null     object
 8   Fecha_Venta      10 non-null     object
 9   Cantidad         10 non-null     int64
 10  Total            10 non-null     float64
 11  Nombre_Producto  10 non-null     object
 12  Categoría        10 non-null     object
 13  Precio           10 non-null     float64
 14  Origen           10 non-null     object
 15  Descripción      10 non-null     object
dtypes: float64(2), int64(1), object(13)
memory usage: 1.4+ KB

In [55]:
tabla_completa2.head(10)

,first_name,last_name,email,gender,City,Country,Address,ID_Producto,Fecha_Venta,Cantidad,Total,Nombre_Producto,Categoría,Precio,Origen,Descripción
0,Jere,Bampkin,jbampkins@wunderground.com,Male,Jaen,Spain,4478 Mockingbird Avenue,Z26,2023-11-14,2,14.98,Calzone,Pizzas,7.49,Italia,Pizza cerrada y horneada rellena de queso sals...
1,Wye,Sinncock,wsinncock3c@fc2.com,Male,Santander,NaN,4679 Fair Oaks Trail,D4,2023-11-20,3,32.97,Panettone,Repostería,10.99,Italia,Pan dulce navideño italiano con frutas confita...
2,Brigit,Witt,bwitt4p@va.gov,Female,Dos Hermanas,Spain,38 Ohio Point,U21,2023-11-15,1,5.75,Salami Toscano,Embutidos,5.75,Italia,Salami de cerdo italiano curado con hierbas y ...
3,Egbert,Leborgne,eleborgne9m@reuters.com,Male,Sevilla,Spain,7 Quincy Way,Q17,2023-11-18,2,7.98,Pasta de Trigo,Productos Secos,3.99,Italia,Deliciosa pasta de trigo durum italiana ideal ...
4,Padgett,Painter,ppainterdt@scientificamerican.com,Male,Barcelona,Spain,5 Artisan Lane,C3,2023-11-21,1,5.49,Tiramisú,Postres,5.49,Italia,Postre clásico italiano con capas de bizcocho ...
5,Chickie,Corkhill,ccorkhillfq@china.com.cn,Male,Valladolid,Spain,9 4th Street,AA27,2023-11-13,1,7.49,Caponata di Melanzane,Entrantes,4.89,Italia,Entrante italiano con berenjenas tomate apio a...
6,Nicky,Bernier,nbernierh6@4shared.com,Agender,Valladolid,Spain,55 Waubesa Trail,T20,2023-11-17,1,7.89,Queso Parmesano,Productos Lácteos,7.89,Italia,El famoso queso italiano madurado durante mese...
7,Sephira,Bleackley,sbleackleyk2@liveinternet.ru,NaN,Girona,NaN,4 Birchwood Road,A1,2023-11-22,2,17.98,Pizza Margherita,Platos Preparados,8.99,Italia,Clásica pizza italiana con tomate mozzarella f...
8,Quinn,Brenton,qbrentonmj@blogtalkradio.com,Female,Gijon,Spain,5495 Lakeland Junction,Y25,2023-11-16,2,13.50,Cacciatore,Embutidos,6.75,Italia,Salchichas de cerdo condimentadas con hierbas ...
9,Windham,Badham,wbadhamok@wired.com,Male,"Hospitalet De Llobregat, L'",Spain,68 Nelson Junction,L12,2023-11-19,1,6.49,Sardinas en Aceite de Oliva,Pescados en Conserva,3.99,Italia,Sardinas frescas en aceite de oliva un bocado ...

In [56]:
tabla_completa2['gender'].unique()

array(['Male', 'Female', 'Agender', nan], dtype=object)

In [57]:
tabla_completa2['gender'] = tabla_completa2['gender'].fillna('Agender')

In [58]:
tabla_completa2['gender'].unique()

array(['Male', 'Female', 'Agender'], dtype=object)

In [59]:
tabla_completa2['Country'] = tabla_completa2['Country'].fillna('Spain')

In [60]:
tabla_completa2['Country'].unique()

array(['Spain'], dtype=object)

In [61]:
tabla_completa2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   first_name       10 non-null     object
 1   last_name        10 non-null     object
 2   email            10 non-null     object
 3   gender           10 non-null     object
 4   City             10 non-null     object
 5   Country          10 non-null     object
 6   Address          10 non-null     object
 7   ID_Producto      10 non-null     object
 8   Fecha_Venta      10 non-null     object
 9   Cantidad         10 non-null     int64
 10  Total            10 non-null     float64
 11  Nombre_Producto  10 non-null     object
 12  Categoría        10 non-null     object
 13  Precio           10 non-null     float64
 14  Origen           10 non-null     object
 15  Descripción      10 non-null     object
dtypes: float64(2), int64(1), object(13)
memory usage: 1.4+ KB